parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Mockery\\\\ExpectationInterface\\|Mockery\\\\HigherOrderMessage\\:\\:atLeast\\(\\)\\.$#"
			count: 3
			path: php/WP_Mock.php

		-
			message: "#^Cannot call method perform\\(\\) on mixed\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Cannot call method reply\\(\\) on mixed\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Method WP_Mock\\:\\:activateStrictMode\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Method WP_Mock\\:\\:addAction\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Method WP_Mock\\:\\:addAction\\(\\) has parameter \\$hook with no type specified\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Method WP_Mock\\:\\:addFilter\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Method WP_Mock\\:\\:addFilter\\(\\) has parameter \\$hook with no type specified\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Method WP_Mock\\:\\:addHook\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Method WP_Mock\\:\\:addHook\\(\\) has parameter \\$hook with no type specified\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Method WP_Mock\\:\\:addHook\\(\\) has parameter \\$type with no type specified\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Method WP_Mock\\:\\:assertActionsCalled\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Method WP_Mock\\:\\:assertActionsCalled\\(\\) throws checked exception PHPUnit\\\\Framework\\\\ExpectationFailedException but it's missing from the PHPDoc @throws tag\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Method WP_Mock\\:\\:assertActionsCalled\\(\\) throws checked exception SebastianBergmann\\\\RecursionContext\\\\InvalidArgumentException but it's missing from the PHPDoc @throws tag\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Method WP_Mock\\:\\:assertFiltersCalled\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Method WP_Mock\\:\\:assertFiltersCalled\\(\\) throws checked exception PHPUnit\\\\Framework\\\\ExpectationFailedException but it's missing from the PHPDoc @throws tag\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Method WP_Mock\\:\\:assertFiltersCalled\\(\\) throws checked exception SebastianBergmann\\\\RecursionContext\\\\InvalidArgumentException but it's missing from the PHPDoc @throws tag\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Method WP_Mock\\:\\:assertHooksAdded\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Method WP_Mock\\:\\:assertHooksAdded\\(\\) throws checked exception PHPUnit\\\\Framework\\\\ExpectationFailedException but it's missing from the PHPDoc @throws tag\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Method WP_Mock\\:\\:assertHooksAdded\\(\\) throws checked exception SebastianBergmann\\\\RecursionContext\\\\InvalidArgumentException but it's missing from the PHPDoc @throws tag\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Method WP_Mock\\:\\:expectAction\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Method WP_Mock\\:\\:expectActionAdded\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Method WP_Mock\\:\\:expectActionNotAdded\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Method WP_Mock\\:\\:expectFilter\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Method WP_Mock\\:\\:expectFilterAdded\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Method WP_Mock\\:\\:expectFilterNotAdded\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Method WP_Mock\\:\\:expectHookAdded\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Method WP_Mock\\:\\:expectHookNotAdded\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Method WP_Mock\\:\\:invokeAction\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Method WP_Mock\\:\\:setUsePatchwork\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Method WP_Mock\\:\\:usingPatchwork\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Parameter \\#1 \\$callable of class WP_Mock\\\\InvokedFilterValue constructor expects callable\\(\\)\\: mixed, array\\{Mockery\\\\LegacyMockInterface, 'intercepted'\\} given\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Property WP_Mock\\:\\:\\$__bootstrapped has no type specified\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Property WP_Mock\\:\\:\\$__strict_mode has no type specified\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Property WP_Mock\\:\\:\\$__use_patchwork has no type specified\\.$#"
			count: 1
			path: php/WP_Mock.php

		-
			message: "#^Function add_action\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock/API/function-mocks.php

		-
			message: "#^Function add_filter\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock/API/function-mocks.php

		-
			message: "#^Function add_filter\\(\\) has parameter \\$accepted_args with no type specified\\.$#"
			count: 1
			path: php/WP_Mock/API/function-mocks.php

		-
			message: "#^Function add_filter\\(\\) has parameter \\$function_to_add with no type specified\\.$#"
			count: 1
			path: php/WP_Mock/API/function-mocks.php

		-
			message: "#^Function add_filter\\(\\) has parameter \\$priority with no type specified\\.$#"
			count: 1
			path: php/WP_Mock/API/function-mocks.php

		-
			message: "#^Function add_filter\\(\\) has parameter \\$tag with no type specified\\.$#"
			count: 1
			path: php/WP_Mock/API/function-mocks.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$var$#"
			count: 1
			path: php/WP_Mock/API/function-mocks.php

		-
			message: "#^Parameter \\$function_to_add of function add_action\\(\\) has invalid type callback\\.$#"
			count: 1
			path: php/WP_Mock/API/function-mocks.php

		-
			message: "#^Cannot access offset string on mixed\\.$#"
			count: 2
			path: php/WP_Mock/Action.php

		-
			message: "#^Cannot call method react\\(\\) on mixed\\.$#"
			count: 1
			path: php/WP_Mock/Action.php

		-
			message: "#^Method WP_Mock\\\\Action\\:\\:new_responder\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock/Action.php

		-
			message: "#^Method WP_Mock\\\\Action\\:\\:react\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock/Action.php

		-
			message: "#^Method WP_Mock\\\\Action\\:\\:react\\(\\) has parameter \\$args with no type specified\\.$#"
			count: 1
			path: php/WP_Mock/Action.php

		-
			message: "#^Method WP_Mock\\\\Action\\:\\:react\\(\\) throws checked exception PHPUnit\\\\Framework\\\\ExpectationFailedException but it's missing from the PHPDoc @throws tag\\.$#"
			count: 3
			path: php/WP_Mock/Action.php

		-
			message: "#^Method WP_Mock\\\\Action_Responder\\:\\:perform\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock/Action.php

		-
			message: "#^Method WP_Mock\\\\Action_Responder\\:\\:perform\\(\\) has parameter \\$callable with no type specified\\.$#"
			count: 1
			path: php/WP_Mock/Action.php

		-
			message: "#^Method WP_Mock\\\\Action_Responder\\:\\:react\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock/Action.php

		-
			message: "#^Parameter \\#1 \\$function of function call_user_func expects callable\\(\\)\\: mixed, mixed given\\.$#"
			count: 1
			path: php/WP_Mock/Action.php

		-
			message: "#^Method WP_Mock\\\\EventManager\\:\\:callback\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock/EventManager.php

		-
			message: "#^Method WP_Mock\\\\EventManager\\:\\:callback\\(\\) has parameter \\$name with no type specified\\.$#"
			count: 1
			path: php/WP_Mock/EventManager.php

		-
			message: "#^Method WP_Mock\\\\EventManager\\:\\:callback\\(\\) has parameter \\$type with no type specified\\.$#"
			count: 1
			path: php/WP_Mock/EventManager.php

		-
			message: "#^Method WP_Mock\\\\EventManager\\:\\:called\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock/EventManager.php

		-
			message: "#^Method WP_Mock\\\\EventManager\\:\\:expectedActions\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: php/WP_Mock/EventManager.php

		-
			message: "#^Method WP_Mock\\\\EventManager\\:\\:expectedFilters\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: php/WP_Mock/EventManager.php

		-
			message: "#^Method WP_Mock\\\\EventManager\\:\\:expectedHooks\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: php/WP_Mock/EventManager.php

		-
			message: "#^Method WP_Mock\\\\EventManager\\:\\:flush\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock/EventManager.php

		-
			message: "#^Parameter \\#2 \\$offset of function array_splice expects int, int\\|string\\|false given\\.$#"
			count: 1
			path: php/WP_Mock/EventManager.php

		-
			message: "#^Property WP_Mock\\\\EventManager\\:\\:\\$actions type has no value type specified in iterable type array\\.$#"
			count: 1
			path: php/WP_Mock/EventManager.php

		-
			message: "#^Property WP_Mock\\\\EventManager\\:\\:\\$callbacks has no type specified\\.$#"
			count: 1
			path: php/WP_Mock/EventManager.php

		-
			message: "#^Property WP_Mock\\\\EventManager\\:\\:\\$expected type has no value type specified in iterable type array\\.$#"
			count: 1
			path: php/WP_Mock/EventManager.php

		-
			message: "#^Property WP_Mock\\\\EventManager\\:\\:\\$filters type has no value type specified in iterable type array\\.$#"
			count: 1
			path: php/WP_Mock/EventManager.php

		-
			message: "#^Cannot call method send\\(\\) on mixed\\.$#"
			count: 1
			path: php/WP_Mock/Filter.php

		-
			message: "#^Method WP_Mock\\\\Filter\\:\\:apply\\(\\) has parameter \\$args with no value type specified in iterable type array\\.$#"
			count: 1
			path: php/WP_Mock/Filter.php

		-
			message: "#^Method WP_Mock\\\\Filter\\:\\:apply\\(\\) throws checked exception PHPUnit\\\\Framework\\\\ExpectationFailedException but it's missing from the PHPDoc @throws tag\\.$#"
			count: 2
			path: php/WP_Mock/Filter.php

		-
			message: "#^Method WP_Mock\\\\Filter\\:\\:new_responder\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock/Filter.php

		-
			message: "#^Method WP_Mock\\\\Filter_Responder\\:\\:reply\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock/Filter.php

		-
			message: "#^Method WP_Mock\\\\Filter_Responder\\:\\:reply\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: php/WP_Mock/Filter.php

		-
			message: "#^Method WP_Mock\\\\Filter_Responder\\:\\:send\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock/Filter.php

		-
			message: "#^Parameter \\#1 \\$function of function call_user_func_array expects callable\\(\\)\\: mixed, array\\{mixed, 'send'\\} given\\.$#"
			count: 1
			path: php/WP_Mock/Filter.php

		-
			message: "#^Cannot access offset string on mixed\\.$#"
			count: 4
			path: php/WP_Mock/Hook.php

		-
			message: "#^Method WP_Mock\\\\Hook\\:\\:new_responder\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock/Hook.php

		-
			message: "#^Cannot access offset 0 on callable\\(\\)\\: mixed\\.$#"
			count: 1
			path: php/WP_Mock/HookedCallback.php

		-
			message: "#^Cannot access offset 1 on callable\\(\\)\\: mixed\\.$#"
			count: 1
			path: php/WP_Mock/HookedCallback.php

		-
			message: "#^Cannot access offset mixed on mixed\\.$#"
			count: 5
			path: php/WP_Mock/HookedCallback.php

		-
			message: "#^Cannot call method react\\(\\) on mixed\\.$#"
			count: 1
			path: php/WP_Mock/HookedCallback.php

		-
			message: "#^Method WP_Mock\\\\HookedCallback\\:\\:new_responder\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock/HookedCallback.php

		-
			message: "#^Method WP_Mock\\\\HookedCallback\\:\\:react\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock/HookedCallback.php

		-
			message: "#^Method WP_Mock\\\\HookedCallback\\:\\:react\\(\\) has parameter \\$argument_count with no type specified\\.$#"
			count: 1
			path: php/WP_Mock/HookedCallback.php

		-
			message: "#^Method WP_Mock\\\\HookedCallback\\:\\:react\\(\\) has parameter \\$callback with no type specified\\.$#"
			count: 1
			path: php/WP_Mock/HookedCallback.php

		-
			message: "#^Method WP_Mock\\\\HookedCallback\\:\\:react\\(\\) has parameter \\$priority with no type specified\\.$#"
			count: 1
			path: php/WP_Mock/HookedCallback.php

		-
			message: "#^Method WP_Mock\\\\HookedCallback\\:\\:react\\(\\) throws checked exception Mockery\\\\Exception but it's missing from the PHPDoc @throws tag\\.$#"
			count: 1
			path: php/WP_Mock/HookedCallback.php

		-
			message: "#^Method WP_Mock\\\\HookedCallback\\:\\:react\\(\\) throws checked exception PHPUnit\\\\Framework\\\\ExpectationFailedException but it's missing from the PHPDoc @throws tag\\.$#"
			count: 1
			path: php/WP_Mock/HookedCallback.php

		-
			message: "#^Method WP_Mock\\\\HookedCallback\\:\\:react\\(\\) throws checked exception ReflectionException but it's missing from the PHPDoc @throws tag\\.$#"
			count: 1
			path: php/WP_Mock/HookedCallback.php

		-
			message: "#^Method WP_Mock\\\\HookedCallback\\:\\:setType\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock/HookedCallback.php

		-
			message: "#^Method WP_Mock\\\\HookedCallbackResponder\\:\\:perform\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock/HookedCallback.php

		-
			message: "#^Method WP_Mock\\\\HookedCallbackResponder\\:\\:perform\\(\\) has parameter \\$callable with no type specified\\.$#"
			count: 1
			path: php/WP_Mock/HookedCallback.php

		-
			message: "#^Method WP_Mock\\\\HookedCallbackResponder\\:\\:react\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock/HookedCallback.php

		-
			message: "#^Property WP_Mock\\\\HookedCallback\\:\\:\\$callback has no type specified\\.$#"
			count: 1
			path: php/WP_Mock/HookedCallback.php

		-
			message: "#^Property WP_Mock\\\\HookedCallback\\:\\:\\$type has no type specified\\.$#"
			count: 1
			path: php/WP_Mock/HookedCallback.php

		-
			message: "#^Method WP_Mock\\\\InvokedFilterValue\\:\\:__invoke\\(\\) has no return type specified\\.$#"
			count: 1
			path: php/WP_Mock/InvokedFilterValue.php