includes:
	- phpstan-baseline.neon
parameters:
	level: max
	reportUnmatchedIgnoredErrors: false
	exceptions:
		check:
			missingCheckedExceptionInThrows: true
			tooWideThrowType: true
	paths:
		- php
		- tests
	bootstrapFiles:
		- vendor/php-stubs/wordpress-globals/wordpress-globals.php
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
	scanFiles:
		- vendor/antecedent/patchwork/Patchwork.php
