<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
		 colors="true"
		 printerClass="Sempro\PHPUnitPrettyPrinter\PrettyPrinterForPhpUnit9"
		 cacheResultFile=".phpunit.cache/test-results"
		 bootstrap="./tests/bootstrap.php"
		 executionOrder="random"
		 forceCoversAnnotation="true"
		 beStrictAboutCoversAnnotation="false"
		 beStrictAboutOutputDuringTests="true"
		 beStrictAboutTodoAnnotatedTests="true"
		 beStrictAboutTestsThatDoNotTestAnything="true"
		 convertDeprecationsToExceptions="true"
		 convertWarningsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertErrorsToExceptions="true"
		 failOnRisky="true"
		 failOnWarning="true"
		 verbose="true">
	<testsuites>
		<testsuite name="Unit">
			<directory suffix="Test.php">./tests/Unit</directory>
		</testsuite>
		<testsuite name="Integration">
			<directory suffix="Test.php">./tests/Integration</directory>
		</testsuite>
	</testsuites>
	<coverage cacheDirectory=".phpunit.cache/code-coverage"
			  disableCodeCoverageIgnore="true"
			  includeUncoveredFiles="true"
			  ignoreDeprecatedCodeUnits="true"
			  processUncoveredFiles="true">
		<include>
			<directory suffix=".php">php</directory>
		</include>
	</coverage>
</phpunit>
